@using Crm.Application.Utilities
@model Crm.Domain.Models.Insurance.Introduced
@{
    ViewData["Title"] = "ویرایش معرفی  شده";
}


<div class="content-header row">
    <div class="content-header-left col-12 mb-2 mt-1">
        <div class="row breadcrumbs-top">
            <div class="col-12">
                <div class="breadcrumb-wrapper">
                    <ol class="breadcrumb p-0 mb-0">
                        <li class="breadcrumb-item">
                            <a asp-controller="Home" asp-action="Index"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item">
                            <a asp-controller="Insured" asp-action="Index">لیست بیمه شدگان</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a asp-controller="Insured" asp-action="Introduced" asp-route-id="@Model.InsuredId">لیست معرفی شدگان</a>
                        </li>
                        <li class="breadcrumb-item active">
                            ویرایش معرفی  شده
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="col-md-12 col-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">ثبت معرفی جدید</h4>
        </div>
        <div class="card-content">
            <div class="card-body">
                <form class="form form-vertical" method="post">
                    <input type="hidden" asp-for="UserId" value="@User.GetUserId()" />
                    <input type="hidden" asp-for="IntroducedId"  />
                    <input type="hidden" asp-for="InsuredId"  />
                    <input type="hidden" asp-for="CreateDate"  />
                    <div class="form-body">
                        
                        
                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="FullName"></label>
                                    <div class="position-relative has-icon-left">
                                        <input autocomplete="off" type="text" class="form-control" asp-for="FullName">
                                        <span asp-validation-for="FullName" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="PhoneNumber"></label>
                                    <div class="position-relative has-icon-left">
                                        <input autocomplete="off" type="number" class="form-control" asp-for="PhoneNumber">
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>


                        </div>

                        
                        

                        <div class="row">
                            <div class=" col-md-6">
                                <label asp-for="DegreeFamiliarityId"></label>
                                <div class="form-group">
                                    <select asp-for="DegreeFamiliarityId" class="select2 form-control" asp-items="@(ViewData["DegreeFamiliarity"] as SelectList)">
                                    </select>
                                    <span asp-validation-for="DegreeFamiliarityId" class="text-danger"></span>

                                </div>
                            </div> 
                            
                            
                            <div class=" col-md-6">
                                <label asp-for="RatioId"></label>
                                <div class="form-group">
                                    <select asp-for="RatioId" class="select2 form-control" asp-items="@(ViewData["Ratio"] as SelectList)">
                                    </select>
                                    <span asp-validation-for="RatioId" class="text-danger"></span>

                                </div>
                            </div>

                        </div>




                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="Description"></label>
                                    <div class="position-relative has-icon-left">
                                        <textarea rows="6" autocomplete="off"  class="form-control" asp-for="Description"></textarea>
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-12 d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary mr-1 mb-1">ثبت</button>
                            </div>
                        </div>



                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

                                
                            
@section Customstyles
{
    <link rel="stylesheet" type="text/css" href="/assets/vendors/css/forms/select/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/calender/kamadatepicker.min.css">

}

@section Script
{

    <script src="/assets/vendors/js/forms/select/select2.full.min.js"></script>
    <script src="/assets/js/scripts/forms/select/form-select2.js"></script>}